{% extends 'base.html' %}

{% block content %}
<h1>Session Analytics</h1>
<table>
    <thead>
        <tr>
            <th>Session ID</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration (hours)</th>
            <th>Fee (₹)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item['session_id'] }}</td>
            <td>{{ item['patient_name'] }}</td>
            <td>{{ item['doctor_name'] }}</td>
            <td>{{ item['session_date'] }}</td>
            <td>{{ item['session_time'] }}</td>
            <td>{{ item['duration'] }}</td>
            <td>{{ item['fee'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
